/* nav */
#viewport {
    background-image: url("../images/common/background.png");
    background-size: cover;
}

#header .about-ipf::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.3rem;
    background: var(--topnav-on);
}

.orange {
    color: #f2664f;
}

.content-wrapper {
    padding-left: 8.8rem;
}

.content-wrapper .image {
    margin-right: 15px;
    margin-left: 5px;
}

.content-wrapper .box-one .subhead {
    margin-bottom: 10rem;
}

.content-wrapper .box-two .subhead {
    margin-bottom: 11rem;
}

.box {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
}

.chart-header {
    background: #f2664f;
    margin: auto;
    margin-bottom: 5rem;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    width: 225px;
}

.chart-header p {
    color: white;
    font-family: 'HelveticaNeue-Bold';
    font-size: 2.5rem;
    padding: 10px 0;
    margin: 0;
    text-transform: uppercase;
}

.chart {
    margin: 14rem auto auto;
}

.chart .chart-header {
    width: auto;
    margin-bottom: 2px;

}

.icon-chart {
    display: flex;
    text-align: center;
}

.icon-chart .icon-column {
    background: #e1dfde;
    flex: 1;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-chart .icon-column:first-child {
    margin-left: 0;
}

.icon-chart .icon-column:last-child {
    margin-right: 0;
}

.icon-chart .icon-column img {
    margin-right: 5px;
    width: 14px;
    align-self: center;
}

.icon-chart .icon-column p {
    color: #333333;
    font-family: 'HelveticaNeue-Bold';
    text-align: left;
}

.body .title {
    font-size: 18px;
    font-family: "HelveticaNeue-Bold";
    color: #f2664f;
    line-height: 1.028;
    text-align: left;
    padding-bottom: 4rem;
}

.box p {
    font-family: "HelveticaNeue";
    color: black;
    margin-top: 0;
}

.box .subhead {
    color: #000000;
    font-size: 3.6rem;
    font-family: "HelveticaNeue-Bold";
    margin-bottom: 5rem;
    max-width: 253px;
}

.box .bold {
    font-family: "HelveticaNeue-Bold";
}

.box ol {
    padding-left: 15px;
}

@media (min-width: 768px) and (max-width: 1024px) {
   
}

@media (min-width: 1112px) and (max-width: 1112px) {
    .box.box-one .image img {
        width: 200px !important;
        margin-top: 16px;
    } 
    .box.box-two .image img {
        width: 160px !important;
        margin-top: 16px;
    } 
    .box.box-three .image img {
        width: 180px !important;
        margin-top: 16px;
    } 
    .chart {
        margin-top: 70px;
    }
    .icon-chart .icon-column {
        width: 180px;
        height: 70px;
    }
}

@media (min-width: 1366px) and (max-width: 1366px) {
    .box.box-one .image img {
        width: 260px !important;
        margin-top: 16px;
    } 
    .box.box-two .image img {
        width: 200px !important;
        margin-top: 16px;
    } 
    .box.box-three .image img {
        width: 230px !important;
        margin-top: 16px;
    } 
    .chart {
        margin-top: 80px;
    }
    .icon-chart .icon-column {
        width: 210px;
        height: 90px;
    }

    .box .subhead {
        max-width: 420px;
    }
}