/* nav */
#viewport {
  background-image: url("../images/common/background.png");
  background-size: cover;
}

#header .diagnosis::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.3rem;
  background: var(--topnav-on);
}

#subheader button:after {
  content: "";
  height: 7rem;
  width: 1px;
  background: #a09e9c;
  position: absolute;
  top: 0;
  right: 0;
}

#subheader .signs-of-progression {
  background: var(--subnav-on);
}

.title {
  font-size: 17px;
  text-transform: none;
  font-family: "HelveticaNeue-Bold";
  color: #f2664f;
  margin-top: 2rem;
  text-align: left;
  padding-bottom: 4rem;
}

.body {
  font-family: "HelveticaNeue";
}

.orange {
  color: #f2664f;
}

strong {
  font-family: "HelveticaNeue-Bold";
}

.subhead {
  font-size: 3.2rem;
  margin-top: 25px;
  margin-left: 0 !important;
  color: #000000;
  font-family: "HelveticaNeue-Bold";
}

.chart-legend {
  margin: 50px 0 0 0px;
  background-color: #ffffff;
  width: 90%;
}

.chart-legend p {
  font-size: 14px;
  font-family: "HelveticaNeue-Bold";
  color: #000000;
  line-height: 1.235;
  border-left: solid 20px #f58672;
  border-bottom: solid 5px #f58672;
  padding: 17px;
  margin-bottom: 24px;
  margin-left: 0 !important;
}

.tabs {
  padding-left: 10rem;
}

.tab-btn {
  font-family: "HelveticaNeue-Bold";
  height: 85px;
  width: 112px;
  display: flex;
  align-items: center;
  color: #58595b;
  font-size: 12px;
  padding-left: 20px;
  background: #e1e1e1;
  position: relative;
  z-index: 1003;
}

.tab-btn.active {
  color: #ffffff;
  background: url("../images/Diagnosis/active-tab.png");
  background-size: cover;
}

.tab-btn.tab1-btn {
  margin-top: 20px;
  margin-bottom: 2px;
}

.tab {
  display: none;
  margin-left: 4rem;
}

.tab.active {
  display: block;
}

.box {
  display: flex;
  position: relative;
}

.box p {
  color: #000000;
  margin-left: 5rem;
}

.box p.large {
  color: #f2664f;
  font-family: "HelveticaNeue-Black";
  font-size: 10rem;
}

.tab-2 .five-column {
  display: flex;
  flex-direction: column;
}

.tab-2 .five-column p {
  margin: 0;
  padding: 0;
}

.tab-2 .five-column div {
  display: flex;
}

.tab-2 .chart-legend {
  margin: 0;
  width: 100%;
}

.tab-2 .chart-legend p {
  margin-top: 10px;
  padding-right: 40px;
}

.tab-2 .five-column div p:nth-child(2) {
  margin-left: 2rem;
  margin-top: 15px;
}

.tab-2 .five-column div p:nth-child(2).two-line {
  margin-top: 10px;
}

.icons-chart {
  display: flex;
  align-items: center;
  padding-left: 38rem;
  padding-top: 10rem;
}

.icons-chart p {
  margin-top: 5rem;
}

.tab-1 .charts {
  display: flex;
  margin-top: 5rem;
  padding-left: 10rem;
  width: 760px;
}

.tab-1 .charts div {
  display: flex;
  flex: 1;
}

.tab-1 .charts div:last-child {
  justify-content: center;
}

.tab img {
  align-self: center;
}

.patient-container {
  position: absolute;
  bottom: 20px;
  width: 149px;
  right: 20px;
}

.patient-container img {
  width: 100%;
}

@media (min-width: 768px) and (max-width: 1024px) {
   
}

@media (min-width: 1112px) and (max-width: 1112px) {
  .tab-one-content .charts div:first-child img {
    width: 140px;
  }
  .tab-one-content .charts div:last-child img {
    width: 74px;
  }
  .tab-1 .charts {
    width: 824px;
  }
  .tab-1 .charts div {
    align-items: center;
  }
  .icons-chart {
    padding-left: 44rem;
  } 
  .icons-chart img {
    width: 170px;
  }
  .patient-container {
    width: 164px;
  }
  .chart-legend {
    margin: 70px 0 0 0px;
  }
  .box p.large {
    font-size: 11rem;
  }
}

@media (min-width: 1366px) and (max-width: 1366px) {
  .tab-one-content .charts div:first-child img {
    width: 180px;
  }
  .tab-one-content .charts div:last-child img {
    width: 100px;
  }
  .tab-1 .charts {
    width: 1024px;
  }
  .tab-1 .charts div {
    align-items: center;
  }
  .icons-chart {
    padding-left: 52rem;
  } 
  .icons-chart img {
    width: 212px;
  }
  .patient-container {
    width: 220px;
  }
  .chart-legend {
    margin: 127px 0 0 0px;
  }
  .box p.large {
    font-size: 14rem;
  }
} 