/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "HelveticaNeue-Black";
  src: url("./fonts/HelveticaNeue-Black.eot"); /* IE9 Compat Modes */
  src: url("./fonts/HelveticaNeue-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/HelveticaNeue-Black.otf") format("opentype"), /* Open Type Font */
    url("./fonts/HelveticaNeue-Black.svg") format("svg"), /* Legacy iOS */
    url("./fonts/HelveticaNeue-Black.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/HelveticaNeue-Black.woff") format("woff"), /* Modern Browsers */
    url("./fonts/HelveticaNeue-Black.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}