/* nav */
#viewport {
  background-image: url("../images/common/background.png");
  background-size: cover;
}

#header .diagnosis::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.3rem;
  background: var(--topnav-on);
}

#subheader button:after {
  content: "";
  height: 7rem;
  width: 1px;
  background: #a09e9c;
  position: absolute;
  top: 0;
  right: 0;
}

#subheader .delayed-diagnosis {
  background: var(--subnav-on);
}

.body {
  font-family: "HelveticaNeue";
}

.body .title {
  font-size: 19px;
  font-family: "Panton", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #f2664f;
  line-height: 1.028;
  text-align: left;
  padding-left: 9rem;
  padding-bottom: 0;
}

.subhead {
  padding-left: 55px;
  margin-top: 25px;
  color: #000000;
  font-family: "HelveticaNeue-Bold";
}

.table-wrapper {
  position: relative;
  padding-left: 50px;
}

.table-wrapper .charts {
  align-self: center;
}

.chart-legend {
  margin: 35px 0 0 50px;
  background-color: #ffffff;
  width: 60%;
}

.chart-legend p {
  font-size: 14px;
  font-family: "HelveticaNeue-Bold";
  color: #000000;
  line-height: 1.235;
  border-left: solid 20px #f58672;
  border-bottom: solid 5px #f58672;
  padding: 17px;
  margin-bottom: 24px;
}

.icons {
  position: absolute;
  top: 18rem;
  right: 12rem;
}

.icons div {
  display: flex;
  margin-bottom: 2rem;
}

.icons p {
  margin-left: 2.5rem;
}

.icons img {
  align-self: center;
  width: 69px;
}

@media (min-width: 768px) and (max-width: 1024px) {
   
}

@media (min-width: 1112px) and (max-width: 1112px) {
  img.charts {
    width: 700px;
  } 
  .icons img {
    width: 80px;
  }
  .icons div {
    align-items: center;
  }
  .icons {
    top: 24rem;
  }
}

@media (min-width: 1366px) and (max-width: 1366px) {
  img.charts {
    width: 900px;
  } 
  .icons img {
    width: 94px;
  }
  .icons div {
    align-items: center;
  }
  .icons {
    top: 32rem;
  }
}