@font-face {
  font-family: "Gotham-Bold";
  src: url("../fonts/common/Gotham-Bold/Gotham-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/common/Gotham-Bold/Gotham-Bold.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("../fonts/common/Gotham-Bold/Gotham-Bold.svg") format("svg"),
    /* Legacy iOS */
    url("../fonts/common/Gotham-Bold/Gotham-Bold.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("../fonts/common/Gotham-Bold/Gotham-Bold.woff") format("woff"),
    /* Modern Browsers */
    url("../fonts/common/Gotham-Bold/Gotham-Bold.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-medium";
  src: url("../fonts/common/Gotham-Bold/Gotham-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/common/Gotham-Bold/Gotham-Bold.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("../fonts/common/Gotham-Bold/Gotham-Bold.svg") format("svg"),
    /* Legacy iOS */
    url("../fonts/common/Gotham-medium/GothamMedium.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("../fonts/common/Gotham-Bold/Gotham-Bold.woff") format("woff"),
    /* Modern Browsers */
    url("../fonts/common/Gotham-Bold/Gotham-Bold.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/common/Helvetica/Helvetica.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/common/Helvetica/Helvetica.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("../fonts/common/Helvetica/Helvetica.svg") format("svg"),
    /* Legacy iOS */
    url("../fonts/common/Helvetica/Helvetica.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("../fonts/common/Helvetica/Helvetica.woff") format("woff"),
    /* Modern Browsers */
    url("../fonts/common/Helvetica/Helvetica.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue-medium";
  src: url("../fonts/common/Helvetica-medium/Helvetica.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/common/Helvetica-medium/Helvetica.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("../fonts/common/Helvetica-medium/Helvetica.svg") format("svg"),
    /* Legacy iOS */
    url("../fonts/common/Helvetica-medium/helvetica_medium.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("../fonts/common/Helvetica-medium/Helvetica.woff") format("woff"),
    /* Modern Browsers */
    url("../fonts/common/Helvetica-medium/Helvetica.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue-Black";
  src: url("../fonts/common/HelveticaNeue-Black/HelveticaNeue-Black.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/common/HelveticaNeue-Black/HelveticaNeue-Black.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("../fonts/common/HelveticaNeue-Black/HelveticaNeue-Black.svg") format("svg"),
    /* Legacy iOS */
    url("../fonts/common/HelveticaNeue-Black/HelveticaNeue-Black.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("../fonts/common/HelveticaNeue-Black/HelveticaNeue-Black.woff") format("woff"),
    /* Modern Browsers */
    url("../fonts/common/HelveticaNeue-Black/HelveticaNeue-Black.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue-Bold";
  src: url("../fonts/common/HelveticaNeueBold/HelveticaNeueBold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/common/HelveticaNeueBold/HelveticaNeueBold.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("../fonts/common/HelveticaNeueBold/HelveticaNeueBold.svg") format("svg"),
    /* Legacy iOS */
    url("../fonts/common/HelveticaNeueBold/HelveticaNeueBold.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("../fonts/common/HelveticaNeueBold/HelveticaNeueBold.woff") format("woff"),
    /* Modern Browsers */
    url("../fonts/common/HelveticaNeueBold/HelveticaNeueBold.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue-Heavy";
  src: url("../fonts/common/HelveticaNeueHeavy/HelveticaNeueHv.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/common/HelveticaNeueHeavy/HelveticaNeueHv.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("../fonts/common/HelveticaNeueHeavy/HelveticaNeueHv.svg") format("svg"),
    /* Legacy iOS */
    url("../fonts/common/HelveticaNeueHeavy/HelveticaNeueHv.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("../fonts/common/HelveticaNeueHeavy/HelveticaNeueHv.woff") format("woff"),
    /* Modern Browsers */
    url("../fonts/common/HelveticaNeueHeavy/HelveticaNeueHv.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}