/* header */
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 9rem;
  background-image: url("../images/common/base.png");
  background-blend-mode: overlay;
  z-index: var(--zI-topnav);
}

#header .button-container {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  /* padding-right: var(--topnav-width); */
}

#header .button-container button {
  font-family: "Gotham-medium";
  font-style: normal;
  font-size: 12px;
  color: #000000;
  text-transform: uppercase;
  position: relative;
  padding-top: 4px;
}

#header .button-container a {
  color: #000000;
  text-decoration: none;
  display: flex;
}

#header .button-container .divider {
  border-left: 0.2rem solid #908983;
}

#header .button-container .divider.dark {
  border-left: 0.2rem solid #908983;
}

#header .button-container .spacer.dots {
  width: 45px;
}

#header .button-container .spacer.arrows {
  width: 85px;
}

#header .button-container .spacer.after-patients {
  width: 50px;
}

#header .button-container .spacer.narrow {
  width: 2rem;
}

#header .button-container .nav-arrows {
  display: inline-block;
  width: 7rem;
}

#header .button-container .nav-arrows .left::after {
  content: '';
  background: url("../images/common/left-arrow.png") no-repeat;
  background-size: 12px 19px;
  width: 24px;
  height: 39px;
  position: absolute;
  transform: translate(-50%, 20%);
}

#header .button-container .nav-arrows .right::after {
  content: '';
  background: url("../images/common/right-arrow.png") no-repeat;
  background-size: 12px 19px;
  /* background: var(--topnav-text); */
  width: 24px;
  height: 39px;
  position: absolute;
  transform: translate(150%, 20%);
}

#header .button-container .home::after {
  content: '';
  background: url("../images/common/icon-home.svg") no-repeat;
  background-size: 4.4rem 4.1rem;
  /* background: #fff; */
  width: 4.4rem;
  height: 4.1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#header .button-container .nav-arrows .left[disabled]:after {
  content: '';
  background: url("../images/common/left-arrow-disabled.png") no-repeat;
  background-size: 12px 19px;
  /* background: var(--topnav-text-disabled); */
  width: 24px;
  height: 39px;
  position: absolute;
  transform: translate(-50%, 20%);
}

#header .button-container .nav-arrows .right[disabled]:after {
  content: '';
  background: url("../images/common/right-arrow-disabled.png") no-repeat;
  /* background-size: 12px 19px; */
  background: var(--topnav-text-disabled);
  width: 24px;
  height: 39px;
  position: absolute;
  transform: translate(150%, 20%);
}

#header .button-container .home {
  width: 57px;
}

#header .button-container .home span {
  display: none;
}

#header .button-container .about-ipf {
  width: var(--topnav-width);
}

#header .button-container .disease-burden {
  width: var(--topnav-width);
}

#header .button-container .diagnosis {
  width: var(--topnav-width);
}

#header .button-container .management {
  width: var(--topnav-width);
}

#header .button-container .paient-profiles {
  width: 148px;
}