/* nav */
#viewport {
    background-image: url("../images/common/background.png");
    background-size: cover;
}

#header .management::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.3rem;
    background: var(--topnav-on);
}

#subheader .risk:before {
    content: '';
    height: var(--subnav-height);
    width: var(--subnav-divider-width);
    background: var(--subnav-divider);
    position: absolute;
    top: 0;
    left: calc(var(--nav-padding-left) * 1);
}

#subheader .risk {
    background: var(--subnav-on);
}

.body .title {
    font-size: 19px;
    font-family: "Panton", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #f2664f;
    line-height: 1.028;
    text-align: left;
    padding-left: 10rem;
    padding-bottom: 0;
}

/* body */

co-tab-group.full-width {
    top: -5px;
}

.manifestatio-risk co-tab-group.full-width co-menu[co-tab-group] co-option {
    background: var(--unbranded-tabnav-bg);
}

.manifestatio-risk co-tab-group.full-width co-menu[co-tab-group] co-option.selected {
    background: var(--unbranded-tabnav-bg-on) !important;
    color: var(--unbranded-tabnav-text-on);
}

.manifestatio-risk co-tab-group.full-width co-menu[co-tab-group] co-option:nth-child(2) {
    font-size: 2.5rem;
    padding-right: 0;
}

.manifestatio-risk .toggle-container {
    top: 14.5rem;
    height: 86.4rem;
}

.manifestatio-risk .toggle-container .toggle-buttons {
    left: 35.4rem;
    bottom: 0;
    width: 81.6rem;
}

.toggle-container button {
    border-right: var(--toggle-border);
}

.toggle-container button:last-child {
    border-right: 0;
}

.manifestatio-risk .toggle-container[data-active="1"] .toggle-button-1,
.manifestatio-risk .toggle-container[data-active="2"] .toggle-button-2,
.manifestatio-risk .toggle-container[data-active="3"] .toggle-button-3 {
    background: var(--unbranded-toggle-bg-on);
    color: var(--toggle-text-on);
}

.manifestatio-risk .toggle-tab {
    display: none;
}

.manifestatio-risk .toggle-container[data-active="0"] .toggle-tab-0,
.manifestatio-risk .toggle-container[data-active="1"] .toggle-tab-1,
.manifestatio-risk .toggle-container[data-active="2"] .toggle-tab-2 {
    display: block;
}

.tabs .tab h2 {
    text-transform: none;
}

.tabs .tab.tab-2 h2 {
    text-transform: uppercase;
}

.tabs .tab.tab-2 h2 span {
    text-transform: lowercase;
}

.tabs .tab-1 .chart {
    width: 153.5rem;
    height: 31.6rem;
    position: absolute;
    top: 17.8rem;
    left: 10.8rem;
}

.tabs .tab-1 hr {
    border: 0;
    border-bottom: var(--unbranded-border);
    width: 170.2rem;
    margin: 0;
    position: absolute;
    top: 56.3rem;
}

.tabs .tab-1 h2:nth-of-type(2) {
    /* position: static; */
    top: 64.6rem;
}

.tabs .tab-1 .list-arrows {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-left: 20rem;
    margin-right: 20rem;
}

.tabs .tab-1 .list-arrows li {
    font-family: 'HelveticaNeue-Bold';
    position: relative;
    font-size: 14px;
    color: #333333;
    padding-left: 6.6rem;
}

.tabs .tab-1 .list-arrows li::before {
    content: '';
    background: url("../images/Management/icon-arrow.png") no-repeat;
    background-size: contain;
    width: 4.2rem;
    height: 3.6rem;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
}

.tabs .tab-2 figure {
    position: absolute;
    top: 14.2rem;
}

.tabs .tab-2 figure .chart {
    width: 157.3rem;
    height: 75.1rem;
    margin-left: 0.2rem;
}

.tabs .tab-2 figcaption {
    position: absolute;
    top: 105%;
}

.tabs .tab-2 figcaption p {
    font-size: 2.6rem;
}

.tabs .tab-2 .callout {
    width: 51rem;
    background: var(--unbranded-callout-bg);
    border-left: var(--unbranded-callout-border);
    position: absolute;
    top: 24.1rem;
    right: 13rem;
}

.manifestatio-risk .toggle-tab .chart {
    width: 107rem;
    height: 71.9rem;
}

.tabs .tab-3 .callout {
    width: 44.2rem;
    background: var(--unbranded-callout-bg);
    border-left: var(--unbranded-callout-border);
    position: absolute;
    top: 13.7rem;
    right: 13rem;
}

.tabs .tab-3 .callout-2 {
    top: 38rem;
}

.chart-wrapper {
    width: 445px;
    height: 210px;
    text-align: center;
    vertical-align: middle;
    border: 0px solid red;
    position: relative;
    left: -20px;
}

.chart-wrapper.v-line:after {
    content: '';
    width: 0;
    height: 70%;
    position: absolute;
    border: 1px solid #aca099;
    top: 30px;
    left: 400px;
}

.circular-chart {
    /* display: block;
    max-width: 54%;
    max-height: 80%;
    background-image: url("../media/images/manifestation-risk/shade.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 190px 192px;
    z-index: 2; */
}

.chart-img {
    position: relative;
    top: 30px;
    left: -23%;
    width: 157px;
    height: auto;
}

.chart-img.icssc {
    /* width: 15%; */
}

.circular-chart .circle {
    stroke: #f1664f;
    fill: none;
    stroke-width: 3;
    stroke-linecap: square;
    z-index: -3
}

.circle.circle-a-fast {
    animation: progress 1s ease-out forwards;
}

.circle.circle-a-medium {
    animation: progress 1.5s ease-out forwards;
}

.circle.circle-a-slow {
    animation: progress 2s ease-out forwards;
}

.circular-chart .white-circle {
    stroke: none;
    fill: #f5f5f5;
    z-index: -3
}

/*noinspection CssInvalidPropertyValue*/
@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.chart-footnote {
    position: relative;
    left: 20%;
    top: -80px;
}

.icssc .chart-footnote {
    top: -90px;
}

.chart-footnote .number {
    font-size: 60px;
    font-family: "Panton", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #f1664f;
    font-weight: 800;
    line-height: 0.197;
    left: -25px;
    position: relative;
}

.chart-footnote .description {
    position: relative;
    left: 31%;
    font-size: 16px;
    padding-top: 6rem;
    text-align: left;
    font-family: "Panton", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.187;
}

.chart-footnote .description span {
    text-transform: none;
}

.wrap-years {
    margin-top: 4rem;
}

.wrap-years .image-0,
.wrap-years .image-1,
.wrap-years .image-2,
.wrap-years .image-3 {
    position: absolute;
}

.wrap-years .image-1,
.wrap-years .image-2,
.wrap-years .image-3 {
    opacity: 0;
}

:root {
    --speed: 2.5s;
    --delay: 0.25s;
}

.image-1 {
    animation: reveal var(--speed) forwards;
}

.image-2 {
    animation: reveal var(--speed) forwards;
    /*animation-delay: calc(var(--speed) * 1 + var(--delay) * 1);*/
}

.image-3 {
    animation: reveal var(--speed) forwards;
    animation-delay: calc((var(--speed) * 0.5 + var(--delay) * 0.5));
}

@keyframes reveal {
    0% {
        opacity: 0;
        width: 0;
    }

    100% {
        opacity: 1;
        width: 100%;
    }
}

.tabs .tab-2 figcaption {
    position: absolute;
    top: 80rem;
    width: 150rem;
}

.row.separate {
    margin-top: 0;
}

.main-content.container .row.body.start-top {
    padding-top: 90px;
}

.patient-container {
    position: absolute;
    bottom: 20px;
    width: 110px;
    right: 20px;
}

.patient-container img {
    width: 100%;
}

.tab-content .box {
    border-left: solid 2px #d5d0cc;
    background-color: #f9f9f9;
    align-items: center;
    margin-bottom: 20px;
    padding: 18px 0 24px 20px;
    height: 130px;
}

/* .tab-content .box#identification {
    padding: 12px 0 12px 20px;
} */

.tab-content .box img {
    width: 34px;
    margin-bottom: 12px;
}

.tab-content .box span {
    font-family: "HelveticaNeue-Heavy";
    font-size: 14px;
    color: #000200;
    display: block;
}

.chart-legend {
    margin: 50px 0 0 50px;
    background-color: #ffffff;
    width: calc(100% - 30px);
}

.chart-legend p {
    font-size: 14px;
    font-family: "HelveticaNeue-Bold";
    color: #000000;
    line-height: 1.235;
    border-left: solid 20px #f58672;
    border-bottom: solid 5px #f58672;
    padding: 17px;
    margin-bottom: 24px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .patient-container {
        width: 120px;
    }
}

@media (min-width: 1112px) and (max-width: 1112px) {  
    .patient-container {
        width: 130px;
        right: 30px;
    }
    .tab-content .box img {
        width: 36px;
    }
}

@media (min-width: 1366px) and (max-width: 1366px) {  
    .patient-container {
        width: 180px;
        right: 40px;
    }
    .tab-content .box img {
        width: 48px;
    }
}