/* subheader */
#subheader {
  position: absolute;
  top: 9rem;
  left: 0;
  right: 0;
  height: 7rem;
  overflow: hidden;
  z-index: 15;
}

#subheader .button-container {
  /* width: 167.7rem; */
  width: 162.7rem;
  height: 7rem;
  background: #e6e3e0;
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding-left: var(--nav-padding-left);
}

#subheader .button-container::after {
  content: '';
  position: absolute;
  left: 100%;
  background: #e6e3e0;
  width: 8.1rem;
  height: 100%;
  transform: skew(-45deg);
  transform-origin: 0 0;
}

#subheader .button-container button {
  font-family: Gotham;
  font-size: 2.6rem;
  font-weight: 500;
  color: #58595b;
}

#subheader .button-container a {
  color: #58595b;
  text-decoration: none;
  display: flex;
}

/* Manifestation */
#subheader .incidence {
  width: 26.6rem;
}

#subheader .risk {
  width: 26.6rem;
}

/* Fibrogenisis */


/* Lung Function */
#subheader .loss {
  width: 28.6rem;
}

#subheader .mortality {
  width: 28.6rem;
}

/* Monitoring */
#subheader .identification {
  width: 30.6rem;
}

#subheader .hrct {
  width: 30.6rem;
}