:root {
  /* font-sizes */
  --headline-type: 7.2rem;
  --subhead-type: 5rem;
  --isi-type: 3.4rem;
  --reference-type: 3.6rem;
  --default-type: 3.6rem;
  --footnote-type: 3rem;
  --large-type: 4.5rem;
  --medium-type: 4rem;
  --small-type: 2.0rem;

  /* font-weight */
  --fw-thin: 100;
  --fw-light: 300;
  --fw-book: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-heavy: 900;

  /* colors */
  --orange: #f2650f;
  --blue: #001e55;
  --teal: #00acbc;
  --dark-gray: #58595b;
  --light-gray: #333333;
  --mask: rgba(73, 74, 74, 0.7);

  --slide-bg: url(../../media/images/common/background.jpg) no-repeat;

  /* --topnav-bg: linear-gradient(to right, #f79317, #fdc922); */
  --topnav-bg: url("../../media/images/common/base.png");
  --topnav-text: #fff;
  --topnav-text-disabled: #ccc;
  --topnav-on: #f58672;
  --topnav-divider-1: 0.2rem solid #48b7c4;
  --topnav-divider-2: 0.2rem solid #168797;

  --subnav-height: 7rem;
  --subnav-bg: #d1dfe1;
  --subnav-text: var(--dark-gray);
  --subnav-on: #f3f3f2;
  --subnav-divider: #f3f3f2;
  --subnav-divider-width: 2px;
  --nav-padding-left: 8.7rem;

  --nav-incidence-width: 26.6rem;
  --nav-risk-width: var(--nav-incidence-width);
  --nav-loss-width: 28.6rem;
  --nav-mortality-width: var(--nav-loss-width);
  --nav-identification-width: 30.6rem;
  --nav-hrct-width: var(--nav-identification-width);


  --btmnav-bg: #fff;
  --btmnav-text: var(--dark-gray);
  --btmnav-text-disable: #585858;
  --btmnav-bg-on: url("../../media/images/common/base.png");
  --btmnav-text-on: #fff;
  --btmnav-icon: #00acbc;
  --btmnav-border: 1px solid #c6c6c6;
  --btmnav-switch-bg: #f0f0f0;

  --email-bg: #445f72;
  --email-text: #fff;
  --email-border: 0.2rem solid #324d60;

  --tabnav-bg: #d6e0e7;
  --tabnav-text: var(--dark-gray);
  --tabnav-bg-on: linear-gradient(to right, #faae1c, #fecc22);
  /* --tabnav-bg-on: rgba(254, 209, 35, 0.7) linear-gradient(to right, #f2650f, #fed123); */
  --tabnav-text-on: var(--dark-gray);
  --tabnav-caret: #edf2f6;
  /*rgba(213, 226, 234, 1);*/

  --list-title: #1a2453;
  --list-text: var(--dark-gray);

  /* --callout-bg: #d4e0e7; */
  --callout-bg: #d8e3e9;
  --callout-text: var(--blue);
  --callout-border: 0.8rem solid #7d98a9;
  --callout-border-2: 0.2rem solid #7d98a9;
  --callout-border-radius: 0.8rem;

  --toggle-bg: #d6e0e7;
  --toggle-text: var(--blue);
  --toggle-bg-on: rgba(122, 153, 172, 0.49), linear-gradient(to right, #7a99ac, red);
  --toggle-text-on: #fff;
  --toggle-border: 0.2rem solid #888;
  --toggle-border-radius: 3rem;

  --isi-header: var(--blue);

  --on-state: #f2650f;

  --aside-bg: #d6e0e7;

  --body-bg: #eef3f5;

  --unbranded-blue: #00acbc;
  --unbranded-body-bg: rgba(235, 235, 235, 0.4);
  --unbranded-tabnav-bg: #dedbdb;
  --unbranded-tabnav-bg-on: var(--unbranded-blue);
  --unbranded-tabnav-text-on: #fff;
  --unbranded-toggle-bg-on: #97adbc;
  --unbranded-border: 0.2rem solid #00aeef;
  --unbranded-callout-bg: rgba(122, 153, 172, 0.15);
  --unbranded-callout-border: 0.8rem solid var(--unbranded-blue);
  --tab-content-height: 120rem;

  --carousel-button-strip-bg: linear-gradient(to top, #d6d7d6 5%, #f7f3f7 13%, #cecbce 100%);
  --carousel-button-strip-border-top: 0.2rem solid var(--dark-gray);
  --carousel-button-strip-border-bottom: 0.2em solid #c6c7c6;
  --carousel-button-bg: #d6e0e7;
  --carousel-button-bg-on: #f16722;
  --carousel-button-border: 0.2rem solid #8c8d90;

  /* --tab-active: #e91c24; */
  /* --tab-default: #e1e1e1; */

  /* --gradient: linear-gradient(to right, rgba(232,44,42,1) 0%, rgba(174,19,42,1) 54%, rgba(174,19,42,1) 100%); */



  /* z-index */
  --zI-topnav: 15;
  --zI-subnav: 15;
  --zI-isi: 15;
  --zI-btmnav: 16;
  --zI-emailnav: -1;


  /* letter-spacing */
  --letter-spacing-5: 0.005em;
  --letter-spacing-10: 0.01em;
  --letter-spacing-20: 0.02em;
  --letter-spacing-50: 0.05em;
  --letter-spacing-n10: -0.01em;
  --letter-spacing-n15: -0.015em;
  --letter-spacing-n20: -0.02em;
  --letter-spacing-n45: -0.045em;

  --topnav-width: 160px;

  --headline-height: 24rem;
  --headline-padding-t: 50px;
  --headline-padding-b: 5px;
  --headline-calc-heigh: calc(var(--headline-height) * 1 + var(--headline-padding-t) * 1 + var(--headline-padding-b) * 1 + 15px);
  --headline-start-top-calc-heigh: calc(var(--headline-height) * 1 + var(--headline-padding-t) * 1 + var(--headline-padding-b) * 1 + 5px);
}

html {
  font-size: 5px;
}

sup,
sub {
  font-size: 60%;
  position: relative;
}

/* sup {
  top: -0.6em;
  line-height: 0;
} */
sub {
  /* bottom: -0.45em; */
}

.text-blue {
  color: #384a5b;
}

.text-red {
  color: var(--red);
}

.text-small {
  font-size: 3.6rem;
}

.hang {
  /* padding-left: 0.5em; */
  text-indent: -0.4em;
  margin-bottom: 2em;
}

.nowrap {
  white-space: nowrap;
}

.ls-10n {
  letter-spacing: var(--letter-spacing-n10);
}

.ls-20n {
  letter-spacing: var(--letter-spacing-n20);
}