/* nav */
#viewport {
    background-image: url("../images/common/background.png");
    background-size: cover;
}

#header .disease-burden::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.3rem;
    background: var(--topnav-on);
}

#subheader button:after {
    content: '';
    height: 7rem;
    width: 1px;
    background: #a09e9c;
    position: absolute;
    top: 0;
    right: 0;
}

#subheader .lung-function {
    background: var(--subnav-on);
}

.body {
    font-family: "HelveticaNeue";
}

.body .title {
    font-size: 17px;
    font-family: "HelveticaNeue-Bold";
    color: #f2664f;
    text-transform: none;
    line-height: 1.028;
    text-align: left;
    padding-left: 9.5rem;
}

.body {
    position: relative;
    top: -8rem;
}

.subhead {
    padding-left: 45px;
    margin-top: 25px;
    color: #000000;
    font-family: "HelveticaNeue-Bold";
}

.tab .row.tab-content {
    position: relative;
    height: fit-content;
    padding: 0px 128px 0 45px;
    margin-bottom: 30px;
}

.chart-img {
    width: 640px;
    height: auto;
}

.chart-note {
    border: 2px solid #f58571;
    position: absolute;
    right: 65px;
    top: 290px;
}

.chart-note p {
    font-family: "HelveticaNeue-Bold";
    line-height: 1.2;
    color: #000000;
    font-size: 2.8rem;
    margin: 0;
    padding: 4rem;
    text-align: center;
}

.chart-legend {
    margin: 0 0 0 50px;
    background-color: #ffffff;
    width: calc(100% - 30px);
}

.chart-legend p {
    font-size: 14px;
    font-family: "HelveticaNeue-Bold";
    color: #000000;
    line-height: 1.235;
    border-left: solid 20px #f58672;
    border-bottom: solid 5px #f58672;
    padding: 25px 20px;
    margin-bottom: 24px;
}

@media (min-width: 768px) and (max-width: 1024px) {
   
}

@media (min-width: 1112px) and (max-width: 1112px) {
    .chart-img {
        width: 722px;
    }
    .chart-note {
        top: 306px;
    }
}

@media (min-width: 1366px) and (max-width: 1366px) {
    .chart-img {
        width: 940px;
    }
    .chart-note {
        top: 362px;
    }
}