/* nav */
#viewport {
    background-image: url("../images/common/background.png");
    background-size: cover;
}

.bg-container {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.bg-container.landing {
    background-image: url("../images/common/landing-background.png");
    background-size: cover;
}

.bg-container.patient-profile-one {
    background-image: url("../images/common/patient-profile-one-background.png");
    background-size: cover;
}

.bg-container.patient-profile-two {
    background-image: url("../images/common/patient-profile-two-background.png");
    background-size: cover;
}

.landing .bg-container.landing {
    opacity: 1;
}

.patient-profile-one .bg-container.patient-profile-one {
    opacity: 1;
}

.patient-profile-two .bg-container.patient-profile-two {
    opacity: 1;
}

#viewport.landing .tab-1 {
    display: block;
}

#viewport.patient-profile-one .tab-2 {
    display: block;
}

#viewport.patient-profile-two .tab-3 {
    display: block;
}

#viewport.patient-profile-one .tab-2 .tab-content {
    overflow-y: hidden;
}

#header .paient-profiles::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.3rem;
    background: var(--topnav-on);
}

body {
    font-family: "HelveticaNeue";
}

.body .title {
    font-size: 20px;
    font-family: "HelveticaNeue";
    font-weight: bold;
    color: #000000;
    text-transform: none;
    line-height: 1.028;
    text-align: left;
    padding-left: 10rem;
    padding-bottom: 45px;
}

.body {
    position: relative;
    top: -8rem;
}

.row.flow img.flow {
    z-index: 14;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.tab {
    display: none;
}

.orange {
    color: #f2664f;
}

/*btns*/
.buttons-container .btn {
    z-index: 999;
    width: 160px;
    height: 50px;
    background: -webkit-linear-gradient(top, #fefefe 0%, #f1f1f0 50%, #e0dedd 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fefefe 0%, #f1f1f0 50%, #e0dedd 100%);
    font-size: 14px;
    font-family: "HelveticaNeue-Bold";
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #999a9a;
}

.buttons-container .btn-1 {
    border-radius: 24px 0 0 24px;
    border-right: none;
    width: 74px;
}

.landing .buttons-container .btn-1 {
    background: #d0cdcb;
}

.buttons-container .btn-1 img {
    width: 30px;
}

.buttons-container .btn-1-1 {
    border-right: none;
}

.patient-profile-one .buttons-container .btn-1-1 {
    background: #d0cdcb;
}

.patient-profile-two .buttons-container .btn-2 {
    background: #d0cdcb;
}

.buttons-container .btn-2 {
    border-radius: 0 24px 24px 0;
}

.buttons-container {
    display: flex;
    position: fixed;
    bottom: 100px;
    left: 50%;
    z-index: 1003;
    transform: translateX(-50%);
    /* width: 75%; */
}

.tab-content {
    height: 446px;
    overflow-y: auto;
    position: relative;
    z-index: 1003;
    margin-right: 10px;
}

.tab-content::-webkit-scrollbar {
    width: 5px;
}

.tab-content::-webkit-scrollbar-track {
    box-shadow: inset -5px 0 1px #d3d3d3;
}

.tab-content::-webkit-scrollbar-thumb {
    background-color: #757575;
    outline: 1px solid #d3d3d3;
}

.tab-header {
    font-family: "HelveticaNeue-Bold";
    font-size: 20px;
    color: #000000;
}

.big-text {
    font-family: "HelveticaNeue-Black";
    font-size: 32px;
    color: #f2664f;
    display: block;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.tab-content .section-content {
    width: calc(100% - 20px);
    margin-bottom: 200px;
}

.tab-content .scroll-fade {
    /* Hide mask */
    display: none;
    position: fixed;
    bottom: 146px;
    height: 60px;
    width: 654px;
}

.open-popup {
    position: absolute;
    height: 27px;
    width: 25px;
    right: 23px;
    top: 291px;
}

.open-popup#open-scan {
    right: 22px;
    top: 300px;
}

.tab-3 .open-popup#open-scan {
    right: 22px;
    top: 310px;
}

.popup.scan img,
.popup.graph .profile-graph,
.popup.scan .profile-scan-description {
    display: none;
}

.patient-profile-one .popup .profile1-scan,
.patient-profile-one .popup .profile1-graph,
.patient-profile-one .popup .profile1-scan-description {
    display: block;
}

.patient-profile-two .popup .profile2-scan,
.patient-profile-two .popup .profile2-graph,
.patient-profile-two .popup .profile2-scan-description {
    display: block;
}

li:before {
    margin-right: -7px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    
}

@media (min-width: 1112px) and (max-width: 1112px) {  
    .bg-container {
        background-position: 0 6px;
    }
    .buttons-container {
        bottom: 96px;
    }
    .open-popup#open-scan {
        right: 23px;
        top: 330px;
    }
    .tab-3 .open-popup#open-scan {
        right: 23px;
        top: 338px;
    }
}

@media (min-width: 1366px) and (max-width: 1366px) {  
    .bg-container {
        background-position: 0 17px;
    }
    .buttons-container {
        bottom: 120px;
    }
    .tab-content {
        height: 675px;
    }
    .open-popup#open-scan {
        right: 24px;
        top: 408px;
        width: 33px;
        height: 37px;
    }
    .tab-3 .open-popup#open-scan {
        right: 24px;
        top: 419px;
    }
    .tab-content .section-content {
        margin-bottom: 0;
    }
}