/* popup */
.popup-mask {
	position: absolute;
	top: 9rem;
	left: 0;
	right: 0;
	bottom: 6.7vh;
	background: var(--mask);
	z-index: 9999;
	display: none;
}

.popup-content {
	display: none;
}

.popup {
	width: 208rem;
	height: 100%;
	/* max-height: 107.4rem; */
	background: #fff;
	position: absolute;
	top: 29.6rem;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: opacity 200ms linear 0s;
}

.popup.visible {
	opacity: 1;
	transition: opacity 400ms linear 0s;
}

.popup .btn-close {
	position: absolute;
	top: 1.4rem;
	right: 2rem;
	z-index: 1;
	width: 9.6rem;
	height: 9.6rem;
	background: url(../images/common/icon-close.svg) no-repeat;
	background-size: 50%;
	background-position: center;
	/* background: var(--topnav-on); */
}

.popup-header {
	font-size: 3.4rem;
	font-family: 'HelveticaNeue-Bold';
	line-height: 1;
	color: #f2664f;
	margin-bottom: 2.4rem;
	overflow: hidden;
}

.popup-body {
	height: 100%;
}

.popup.scan,
.popup.graph,
.popup.references,
.popup.footnotes {
	width: 160.8rem;
	height: auto;
	top: 9rem;
	bottom: 36rem;
	background: transparent;
	padding: 0;
	display: flex;
	align-items: center;
}

.popup.references {
	top: 26rem;
}

.popup.scan {
	width: 183.8rem;
	top: 19rem;
}

.popup.graph {
	top: 22rem;
}

.popup.scan .wrapper,
.popup.graph .wrapper {
	background: url("../images/common/scan-graph-bg.png");
	background-size: cover;
	width: 100%;
	position: relative;
	padding: 15.8rem 9.8rem;
}

.popup.references .wrapper,
.popup.footnotes .wrapper {
	background: #fff;
	width: 100%;
	position: relative;
	padding: 9.8rem;
}

.popup.scan p {
	font-size: 18px;
	font-family: "HelveticaNeue-Bold";
	color: #f2664f;
	margin-top: 0;
}

.popup.scan span {
	font-size: 14px;
	font-family: "HelveticaNeue-Bold";
	color: #000000;
}

.popup.scan .chart-legend {
	position: relative;
	top: auto;
	right: auto;
	margin-top: 40px;
	width: 375px;
}

.popup.scan .chart-legend p {
	font-size: 14px;
	font-family: "HelveticaNeue-Bold";
	color: #000000;
	line-height: 1.235;
	border-left: solid 20px #f58672;
	border-bottom: solid 5px #f58672;
	padding: 17px;
	margin-bottom: 24px;
}

.popup.graph img,
.popup.scan img {
	width: 100%;
}

.popup.scan ul {
	list-style: none;
	/* padding-left: 20px; */
	padding-left: 10px;
	color: #333333;
}

.popup.scan ul li {
	font-family: "HelveticaNeue";
	font-size: 14px;
	line-height: 1.7;
	position: relative;
}

.popup.scan ul li::before {
	content: "\2022";
	color: #f0535f;
	font-weight: bold;
	display: inline-block;
	width: 1em;
	line-height: 0;
	font-size: 21px;
	/* margin-left: -1em; */
	margin-left: -0.5em;
	position: absolute;
	top: 12px;
}

.profile-scan-description {
	margin-left: 10px;
}

.popup.references co-iscroll {
	width: 100%;
	height: 98%;
}

.popup.references .iScrollVerticalScrollbar[co-iscroll] {
	width: 2.5rem;
	background: #d1d3d5;
	top: 3rem;
	left: auto;
	right: -10.3rem;
}

.popup.references ol {
	display: inline;
	margin: 0;
	padding: 0;
	list-style: none;
	counter-reset: section;
}

.popup.references li {
	font-size: 2.8rem;
	/* font-weight: var(--fw-book); */
	font-family: 'HelveticaNeue';
	line-height: 1.15;
	color: #333333;
	padding-left: 1.3em;
	margin-bottom: 0.4em;
	text-indent: -1em;
}

.popup.references li:before {
	content: " "counter(section) ". ";
	counter-increment: section;
	/* font-weight: var(--fw-bold); */
	margin-left: -0.6em;
	/* margin-right: 0.3em; */
	margin-right: 0.2em;
	display: inline-block;
	width: 1.2em;
	text-align: right;
	font-family: "Gotham-Bold";
}

.popup.references li:last-child {
	margin: 0;
}

.popup.references .two-column-references {
	column-count: 2;
	column-gap: 50px;
	display: block;
}

.popup.footnotes .popup-header {
	margin-bottom: 2.4rem;
}

.popup.footnotes p {
	font-family: 'HelveticaNeue';
	font-size: 14px;
	line-height: 1.15;
	color: #333333;
	margin-bottom: 2.2rem;
}

.popup.footnotes p.hang {
	padding-left: 0;
	text-indent: -0.33em;
}

.popup.footnotes p.hang.double {
	text-indent: -0.6em;
}

.popup.footnotes p:last-child {
	margin: 0;
}

.popup.footnotes i {
	font-weight: var(--fw-light);
}

.popup.content {
	max-width: 192rem;
	width: auto;
	height: auto;
	top: 9rem;
	bottom: 6.7vh;
	background: transparent;
	padding: 0;
	display: flex;
	align-items: center;
}

.popup.content .wrapper {
	background: #fff;
	width: 100%;
	position: relative;
	/* padding: 9.8rem; */
}

.popup.content p {
	line-height: 1.22;
}

.popup.content .footnotes .hang {
	padding: 0;
}

.popup.visible {
	visibility: visible;
	z-index: 999999;
}

#references-popup {
	height: 630px;
	top: 60px;
	width: 191rem;
}

#footnotes-popup {
	height: 204px;
	margin-top: 210px
}

.patient-profile-two #scan-popup {
	height: 400px;
	top: 180px
}

@media (min-width: 1112px) and (max-width: 1112px) {  
	.popup-mask {
		bottom: 6vh;
	}
}

@media (min-width: 1366px) and (max-width: 1366px) {  
	.popup-mask {
		bottom: 5vh;
	}
	#footnotes-popup {
		margin-top: 290px
	}
	#references-popup {
		margin-top: 80px;
	}
}