/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "HelveticaNeueBold";
  src: url("./fonts/HelveticaNeueBold.eot"); /* IE9 Compat Modes */
  src: url("./fonts/HelveticaNeueBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/HelveticaNeueBold.otf") format("opentype"), /* Open Type Font */
    url("./fonts/HelveticaNeueBold.svg") format("svg"), /* Legacy iOS */
    url("./fonts/HelveticaNeueBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/HelveticaNeueBold.woff") format("woff"), /* Modern Browsers */
    url("./fonts/HelveticaNeueBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}