/* nav */
#viewport {
    background-image: url("../images/common/background.png");
    background-size: cover;
}

#header .disease-burden::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.3rem;
    background: var(--topnav-on);
}

#subheader button:after {
    content: '';
    height: 7rem;
    width: 1px;
    background: #a09e9c;
    position: absolute;
    top: 0;
    right: 0;
}

#subheader .daily-impact {
    background: var(--subnav-on);
}

.body {
    font-family: "HelveticaNeue";
}

strong {
    font-family: "HelveticaNeue-Bold";
}

.body .title {
    font-size: 18px;
    font-weight: bold;
    color: #f2664f;
    line-height: 1.028;
    text-align: left;
    padding-left: 9rem;
    padding-bottom: 0;
}

.subhead {
    color: #000000;
    font-family: "HelveticaNeue-Bold";
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 15px;
}

ul {
    list-style: none;
    color: #333333;
    margin-top: 5px;
    padding-left: 0;
    /* margin-left: 20px; */
    margin-left: 10px;
    font-size: 14px;
}

ul li {
    /* margin-bottom: 5px; */
    margin-bottom: 6px;
    position: relative;
}

ul li::before {
    content: "\2022";
    color: #f0535f;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    line-height: 0;
    font-size: 21px;
    /* margin-left: -1em; */
    margin-left: -0.5em;
    position: absolute;
    top: 11px;
}

/* body */

.tabs .tab h2 {
    text-transform: none;
}

.tabs .tab-1 h2:nth-of-type(2) {
    /* position: static; */
    top: 64.6rem;
}

.main-content.container .row.body.start-top {
    padding-top: 105px;
}

.content-wrapper {
    padding-left: 9rem;
    margin-top: 10rem;
}

.content-wrapper .col-wrapper {
    border-right: 2px solid #f2664f;
    width: 450px;
}

.content-wrapper .col-wrapper:last-child {
    border-right: none;
    padding-left: 12rem;
}

.content-wrapper .col-wrapper:last-child .two-column-wrapper .with-icon .description {
    margin-left: 0;
}

.content-wrapper .col-wrapper:last-child .two-column-wrapper .icon {
    margin-left: 0;
}

.patient-container {
    position: absolute;
    bottom: 20px;
    width: 110px;
    right: 20px;
}

.patient-container img {
    width: 100%;
}

.two-column-wrapper {
    display: flex;
    margin-top: -2rem;
}

.two-column-wrapper p {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.two-column-wrapper .with-icon {
    display: flex;
}

.two-column-wrapper img {
    align-self: center;
}

.two-column-wrapper .icon {
    margin-top: 5px;
    margin-left: 15px;
}

.two-column-wrapper .arrow {
    margin-top: 35px;
    margin-left: 25px;
    margin-right: 25px;
}

.two-column-wrapper .with-icon .description {
    margin-left: 18px;
}

.two-column-wrapper .column-one p.large {
    margin-left: 28px;
}

.column-two p.large {
    letter-spacing: -5px;
}

.box p.large {
    color: #f2664f;
    font-family: "HelveticaNeue-Bold";
    font-size: 15rem;
}

.box p {
    color: #000000;
}

.box p.large sup {
    font-size: 40%;
    margin-left: -10px;
}

@media (min-width: 768px) and (max-width: 1024px) {
   
}

@media (min-width: 1112px) and (max-width: 1112px) {
    .patient-container {
        width: 124px;
        right: 30px;
    }
    .content-wrapper .col-wrapper {
        width: 500px;
    }
    .box p.large {
        font-size: 20rem;
    }
}

@media (min-width: 1366px) and (max-width: 1366px) {
    .patient-container {
        width: 170px;
        right: 40px;
    }
    .content-wrapper .col-wrapper {
        width: 580px;
    }
    .box p.large {
        font-size: 26rem;
    }
}