/* nav */
#viewport {
  background-image: url("../images/common/background.png");
  background-size: cover;
}

#header .diagnosis::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.3rem;
  background: var(--topnav-on);
}

#subheader button:after {
  content: "";
  height: 7rem;
  width: 1px;
  background: #a09e9c;
  position: absolute;
  top: 0;
  right: 0;
}

#subheader .hrct {
  background: var(--subnav-on);
}

.body {
  font-family: "HelveticaNeue";
}

.title {
  font-size: 17px;
  text-transform: none;
  font-family: "HelveticaNeue-Bold";
  color: #f2664f;
  margin-top: 2rem;
  text-align: left;
  padding-bottom: 4rem;
}

.content-wrapper {
  position: relative;
  top: 2rem;
}

.content-wrapper .images img:not(.icon) {
  width: 280px;
  height: auto;
  position: relative;
  top: 10px;
  left: 8rem;
}

.content-wrapper .images .divider {
  height: 179px;
  width: 1px;
  background-color: #747474;
  position: relative;
  top: 2rem;
  left: 15rem;
}

.content-wrapper .images img.icon {
  width: 8%;
  height: auto;
  position: relative;
  top: -164px;
  left: 8px;
}

.list-wrapper {
  position: relative;
  top: 20px;
}

.list-wrapper .box {
  position: relative;
  left: 4rem;
  color: #333333;
  font-family: "HelveticaNeue";
  font-size: 14px;
  line-height: 1.7;
  margin-top: 2rem;
}

.list-wrapper .box span {
  font-family: "HelveticaNeue-Bold";
  font-size: 15px;
  color: #231f20;
  margin-left: 20px;
}

.list-wrapper .box span {
  color: #f2664f;
}

.box.box-two img {
  margin-left: 100px;
}

.box.box-two span {
  margin-left: 90px;
}

.box.box-two ul {
  margin-left: 80px;
}

ol,
ul {
  position: relative;
  left: 0;
}

ul {
  list-style: none;
  padding-left: 20px;
  color: #333333;
  margin-top: 5px;
  margin-top: 0px;
  margin-left: 10px;
}

ul li::before {
  content: "\2022";
  font-weight: bold;
  display: inline-block;
  width: 0.5em;
  line-height: 0;
  font-size: 21px;
  margin-left: -0.5em;
  position: absolute;
  top: 12px;
}

.popup.content .wrapper {
  width: 158.8rem;
  height: 120rem;
  text-align: center;
}

.enlarge.nsip {
  position: absolute;
  top: 2rem;
  left: 20rem;
  z-index: 9999;
}

.enlarge.uip {
  position: absolute;
  top: 2rem;
  left: 0rem;
  z-index: 9999;
}

#nsip .chart,
#uip .chart {
  width: 128.8rem;
  height: auto;
  position: relative;
  top: 6rem;
}

#uip .chart {
  width: 134.8rem;
}

ul.multiple-lines {
  max-width: 300px;
}

ul.multiple-lines .two-lines {
  line-height: 1.2;
  padding-top: 4px;
  padding-bottom: 4px;
  position: relative;
}

.tab-two-title {
  display: none;
}

.tabs {
  padding-left: 10rem;
}

.tab-btn {
  font-family: "HelveticaNeue-Bold";
  height: 85px;
  width: 112px;
  display: flex;
  align-items: center;
  color: #58595b;
  font-size: 12px;
  padding-left: 20px;
  background: #e1e1e1;
  position: relative;
  z-index: 1003;
}

.tab-btn.active {
  color: #ffffff;
  background: url("../images/Diagnosis-HRCT/active-tab.png");
  background-size: cover;
}

.tab-btn.tab1-btn {
  margin-top: 20px;
  margin-bottom: 2px;
}

.tab {
  display: none;
  margin-left: 4rem;
}

.tab.active {
  display: block;
}

.box {
  position: relative;
}

.box p {
  color: #000000;
  margin-left: 5rem;
}

.tab-one-content {
  margin-left: 4rem;
}

.tab-2 .chart-legend {
  margin-left: 35px;
  margin-top: 40px;
  width: 77%;
  text-align: left;
}

.tab-2 .chart-legend p {
  margin-top: 10px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (min-width: 768px) and (max-width: 1024px) {
   
}

@media (min-width: 1112px) and (max-width: 1112px) {
  .tab-one-content img {
    width: 794px;
  }
  .chart-legend {
    margin: 50px 0 0 0px;    
  }
  .content-wrapper .images img:not(.icon) {
    width: 300px;
  }
  .content-wrapper .images .divider {
    height: 192px;
    left: 16rem;
  }
  .list-wrapper .box.box-two {
    left: 8rem; 
  }
  .tab-2 .chart-legend {
    margin-top: 80px;
  }
  .box.box-two img {
    margin-left: 98px;
  }
  .enlarge.nsip {
    left: 21rem;
  }
}

@media (min-width: 1366px) and (max-width: 1366px) {
  .tab-one-content img {
    width: 1042px;
  }
  .chart-legend {
    margin: 100px 0 0 0px;    
  }
  .content-wrapper .images img:not(.icon) {
    width: 398px;
  }
  .content-wrapper .images .divider {
    height: 250px;
    left: 22rem;
  }
  .list-wrapper .box.box-two {
    left: 38rem; 
  }
  .tab-2 .chart-legend {
    margin-top: 90px;
  }
  .box.box-two img {
    margin-left: 150px;
  }
  .enlarge.nsip {
    left: 30rem;
  }
} 