.body {
    font-family: "HelveticaNeue";
}

/* nav */
#viewport {
    background-image: url("../images/common/background.png");
    background-size: cover;
}

/* nav */
#header .disease-burden::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.3rem;
    background: var(--topnav-on);
}

#subheader .acute-exacerbations {
    background: var(--subnav-on);
}

#subheader button:after {
    content: '';
    height: 7rem;
    width: 1px;
    background: #a09e9c;
    position: absolute;
    top: 0;
    right: 0;
}

.body .title {
    color: #f2664f;
    font-size: 19px;
    font-family: 'HelveticaNeue-Bold';
    text-transform: none;
    line-height: 1.2;
    text-align: left;
    padding-bottom: 0;
}

.chart-legend {
    margin: 50px 0 0 0px;
    background-color: #ffffff;
    width: 90%;
}

.chart-legend p {
    font-size: 14px;
    font-family: "HelveticaNeue-Bold";
    color: #000000;
    line-height: 1.235;
    border-left: solid 20px #f58672;
    border-bottom: solid 5px #f58672;
    padding: 17px;
    margin-bottom: 24px;
}

.tabs {
    padding-left: 10rem;
}

.tab-btn {
    font-family: "HelveticaNeue-Bold";
    height: 85px;
    width: 112px;
    display: flex;
    align-items: center;
    color: #58595b;
    font-size: 12px;
    padding-left: 20px;
    background: #e1e1e1;
    position: relative;
    z-index: 1003;
}

.tab-btn.active {
    color: #ffffff;
    background: url("../images/Disease_Burden/active-tab.png");
    background-size: cover;
}

.tab-btn.tab1-btn {
    margin-top: 20px;
    margin-bottom: 2px;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

.box {
    display: flex;
    position: relative;
}

.box p {
    color: #000000;
}

.box p.large {
    color: #f2664f;
    font-family: "HelveticaNeue-Bold";
    font-size: 16rem;
    line-height: 18rem;
}

.box p.large sup {
    font-size: 40%;
}

.tab-2 .three-column {
    margin-left: 10rem;
    text-align: center;
}

.tab-2 .three-column p {
    margin: 0;
    padding: 0;
}

.tab-2 .three-column div {
    margin-right: 20rem;
}

.tab-1 .charts {
    display: flex;
    text-align: center;
    margin-top: 20rem;
    padding-left: 5rem;
    width: 740px;
}

.tab-1 .charts div {
    flex: 1;
}

.icons-chart {
    display: flex;
    align-items: center;
    padding-left: 20rem;
    padding-top: 10rem;
}

.icons-chart p {
    font-size: 3.2rem;
    margin-left: 3rem;
    line-height: 1.3;
}

strong {
    font-family: "HelveticaNeue-Bold";
}

.patient-container {
    position: absolute;
    bottom: 20px;
    width: 110px;
    right: 20px;
}

.patient-container img {
    width: 100%;
}

@media (min-width: 768px) and (max-width: 1024px) {
   
}

@media (min-width: 1112px) and (max-width: 1112px) {
    .tab-one-content .icons-chart img {
        width: 420px;
    }
    .tab-1 .charts {
        width: 800px;
        margin-top: 80px;
    }
    .tab-one-content .charts img {
        width: 240px;
    }
    .tab-one-content .charts div:last-child img {
        width: 156px;
    }
    .patient-container {
        width: 130px;
        right: 30px;
    }
    .box p.large {
        font-size: 20rem;
        line-height: 20rem;
    }
    .chart-legend {
        margin: 94px 0 0 0px;
    }
}

@media (min-width: 1366px) and (max-width: 1366px) {
    .tab-one-content .icons-chart img {
        width: 580px;
    }
    .tab-1 .charts {
        width: 1020px;
        margin-top: 146px;
    }
    .tab-one-content .charts img {
        width: 330px;
    }
    .tab-one-content .charts div:last-child img {
        width: 224px;
    }
    .patient-container {
        width: 170px;
        right: 40px;
    }
    .box p.large {
        font-size: 28rem;
        line-height: 28rem;
    }
    .chart-legend {
        margin: 114px 0 0 0px;
    }
}