/* footer */
#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10.2rem;
  background: #fff;
  z-index: var(--zI-btmnav);
  display: flex;
  border-top: solid 1px #c6c6c6;
  justify-content: flex-end;
}

#footer .button-container {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  background-image: none;
  position: relative;
  margin-left: 435px;
}

#footer .button-container.left {
  justify-content: flex-start;
  width: 306px;
  margin-left: 0;
}

#footer #switcher {
  margin-right: 34.6rem;
}

#footer .divider {
  border-left: var(--btmnav-border);
}

#footer button {
  background-color: var(--btmnav-bg);
  width: 26.1rem;
  height: 100%;
  font-family: "HelveticaNeue-Bold";
  font-size: 2rem;
  line-height: 1.2;
  color: #000000;
  text-transform: uppercase;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

#footer .icon {
  /* padding-left: 4.6rem; */
  padding-left: 2.6rem;
}

#footer .icon-email::before {
  content: '';
  width: 3.2rem;
  height: 2.1rem;
  background: url("../images/common/icon-mail.svg") no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 4.9rem;
  transform: translateY(-50%);
}

#footer .icon-drawer::before {
  content: '';
  width: 2.1rem;
  height: 2.3rem;
  background: url("../images/common/icon-drawer.svg") no-repeat;
  background-size: contain;
  /* background: var(--btmnav-icon); */
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
}

#footer .icon-expand::before {
  content: '';
  width: 2.2rem;
  height: 2.4rem;
  background: url("../images/common/icon-expand.png") no-repeat;
  background-size: contain;
  /* background: var(--btmnav-icon); */
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
}

#footer .icon-expand#references span {
  margin-left: -10px;
}

#footer .icon-link::before {
  content: '';
  width: 3.5rem;
  height: 3rem;
  background: url("../images/common/icon-link.svg") no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
}

#footer .ipf {
  width: 13.8rem;
}

#footer .ssc {
  width: 13.8rem;
}

#footer .email {
  width: 23.6rem;
  padding-left: 10.5rem;
}

#footer .pi {
  width: 27.4rem;
}

#footer .isi {
  width: 30.8rem;
}

#footer .footnote {
  width: 23.4rem;
}

#footer button.orange {
  background-color: #f2664f;
  color: #ffffff;
}

#footer button.orange.icon-expand::before {
  background: url("../images/common/icon-expand-active.png") no-repeat;
  background-size: contain;
}

#footer button.disabled {
  opacity: 0.5;
}

#footer .reference {
  width: 26.4rem;
}

#footer #references {
  margin-right: 15px;
}

#footer button.on {
  background: var(--btmnav-bg-on);
  color: var(--btmnav-text-on);
}

#footer button.on::before {
  background: var(--btmnav-text-on);
}

#footer #switcher button.active {
  background: var(--btmnav-switch-bg);
}

#footer #switcher button.active::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 2.3rem;
  background: linear-gradient(to right, #faae1c, #fecc22);
}

#footer #pf-ild-btn {
  width: 19.3rem;
}

#footer button.disabled {
  pointer-events: none;
  opacity: 0.5;
}

#footer .arrow-spacer {
  width: 94px;
}

#footer .button-container.left button:not(.orange) {
  background-color: #efefef;
  width: 16.9rem;
}

#footer #footnotes:not(.orange),
#footer #references:not(.orange) {
  color: #585858;
}

#footer #footnotes,
#footer #references {
  font-family: "HelveticaNeue";
}