html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  /* font-family: Gotham; */
}

body>* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  outline: none;
  -webkit-appearance: none;
}

strong {
  /* font-weight: var(--fw-bold); */
  font-family: 'HelveticaNeue-Bold';
}

em {
  font-style: italic;
}

i {
  font-family: CoText;
  font-style: normal;
  line-height: 0;
}

i.star {
  font-size: 80%;
  position: relative;
  top: -0.3em;
}

i.greek {
  font-family: MyriadPro;
  text-transform: none;
}

sup i {
  position: relative;
  top: 0.2em;
  font-weight: var(--fw-light);
}

.lower {
  text-transform: lowercase;
}

.show {
  display: block !important;
}

.preload {
  display: none;
}

.slide {
  background: var(--slide-bg);
  background-size: 100%;
  width: 100vw;
}

.logo.ofev {
  width: 37rem;
  height: 18.7rem;
  position: absolute;
  top: 11.8rem;
  right: 5.2rem;
}

.main-content {
  position: absolute;
  top: 9rem;
  left: 0;
  right: 0;
  bottom: 6.7vh;
  width: 100vw;
}

.headline {
  position: absolute;
  /* top: 7rem; */
  left: 0;
  width: 100%;
  height: var(--headline-height);
  display: flex;
  align-items: center;
  padding-left: 8.8rem;
  /* padding-right: 20rem; */
  padding-top: var(--headline-padding-t);
  padding-bottom: var(--headline-padding-b);
}

h1 {
  font-family: "HelveticaNeue-Heavy";
  font-size: 21px;
  /* font-size: 22px; */
  line-height: 1.2;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 0;
}

.lower {
  text-transform: lowercase;
}

h2 {
  font-family: "Panton", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 4.4rem;
  line-height: 1.2;
  color: var(--dark-gray);
  text-transform: uppercase;
  position: relative;
}

.tabs .tab h2.title {
  top: 5px;
}

h3 {
  font-family: "Pantom""Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 4rem;
  line-height: 1.2;
  color: var(--dark-gray);
  margin-bottom: 0.4em;
}

h4 {
  font-family: Gotham;
  font-weight: var(--fw-bold);
  font-size: 2.4rem;
  line-height: 1.2;
  color: var(--light-gray);
}

.main-content.container .row.body:not(.start-top) {
  padding-top: var(--headline-calc-heigh);
}

.main-content.container .row.body.start-top {
  padding-top: var(--headline-start-top-calc-heigh);
}

p {
  font-size: 2.8rem;
  line-height: 1.22;
  color: var(--light-gray);
}

/* .chart {
  transform: scale(0.5);
  transform-origin: 0 0 0;
} */

.enlarge {
  width: 8.8rem;
  height: 8.8rem;
  background: url(../../media/images/common/icon-enlarge.svg) center center no-repeat;
  background-size: 7rem 7rem;
  position: relative;
  top: -32rem;
}

/* tabs - fullwidth */
co-tab-group.full-width {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: auto;
  height: var(--tab-content-height);
}

co-tab-group.full-width .navigation-menu-buttons[co-tab-group] {
  width: 22rem;
}

co-tab-group.full-width co-menu[co-tab-group] {
  background: none;
}

co-tab-group.full-width co-menu[co-tab-group] co-option {
  background: var(--tabnav-bg);
  height: 16.6rem;
  font-family: "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: var(--fw-medium);
  font-size: 2.6rem;
  color: var(--tabnav-text);
  padding: 0 2rem 0 3rem;
  text-align: left;
  line-height: 1.2;
  flex: 0 0 auto;
  justify-content: flex-start;
  margin-top: 0.2rem;
}

co-tab-group.full-width co-menu[co-tab-group] co-option:first-child {
  height: 16.8rem;
  margin: 0;
}

co-tab-group.full-width co-menu[co-tab-group] co-option.selected {
  background: var(--tabnav-bg-on) !important;
  color: var(--tabnav-text-on);
}

co-tab-group.full-width co-menu[co-tab-group] co-option.selected::after {
  content: '';
  width: 0;
  height: 0;
  border-top: 1.8rem solid transparent;
  border-bottom: 1.8rem solid transparent;
  border-right: 1.9rem solid var(--tabnav-caret);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

co-tab-group.full-width .tabs[co-tab-group] {
  width: 182.8rem;
  left: 110px;
  border: 0;
  background: none;
  position: absolute;
}

co-tab-group.full-width .tabs .tab {
  display: block;
  padding-left: 6.2rem;
  width: 182.8rem;
  height: var(--tab-content-height);
  position: relative;
}

.tab .row.tab-content {
  position: relative;
  top: 5rem;
  height: fit-content;
  padding: 0 0 0 30px;
}

.row.separate {
  margin-top: 12rem;
}

.row.separate h3 {
  margin-bottom: 6rem;
  font-family: 'HelveticaNeue-Bold';
  color: #333333;
  font-size: 16px;
}




/* list */
.list {
  margin: 0;
  padding: 0 0 0 0.7em;
  list-style: none;
  font-family: Gotham;
  font-size: 2.8rem;
  color: var(--list-text);
}

.list li {
  line-height: 1.22;
  margin-bottom: 0.4em;
}

/* .list li.title {
  font-weight: var(--fw-bold);
  color: var(--list-title);
  margin-left: -0.6em;
} */
/* .list li:not(.title):before { */
.list li::before {
  content: '\2022';
  color: var(--list-text);
  display: inline-block;
  margin-right: 0.2em;
  margin-left: -0.75em;
}

/* .list .list-style-none:before {
  display: none;
} */
.list .indent {
  padding-left: 7rem;
}

.sub-list {
  margin: 0.4em 0 0;
  padding: 0 0 0 0.8em;
  list-style: none;
  font-size: 2.8rem;
}

.sub-list li::before {
  content: '–';
  color: var(--list-text);
  display: inline-block;
  margin-right: 0.2em;
  margin-left: -0.8em;
}

/* columns */
.columns {
  display: flex;
}

/* callout */
.callout {
  position: absolute;
  background: var(--callout-bg);
  border-left: var(--callout-border);
  border-radius: var(--callout-border-radius);
  padding: 3.3rem 0 3.3rem 3.3rem;
}

.callout p {
  font-size: 2.6rem;
  font-weight: var(--fw-medium);
  color: var(--callout-text);
}

/* toggle */
.toggle-container {
  position: absolute;
  top: 0;
  bottom: 0;
}

.toggle-container .toggle-buttons {
  position: absolute;
  left: 41.2rem;
  bottom: 4.4rem;
  width: 56.4rem;
  height: 6.8rem;
  border: var(--toggle-border);
  border-radius: var(--toggle-border-radius);
  overflow: hidden;
  display: flex;
  z-index: 1;
}

.toggle-container .toggle-buttons button {
  width: 50%;
  height: 100%;
  font-family: Gotham;
  font-weight: var(--fw-bold);
  font-size: 2.6rem;
  background: var(--toggle-bg);
  color: var(--toggle-text);
}

.toggle-container button:first-child {
  border-right: var(--toggle-border);
}

.toggle-container[data-active="1"] .toggle-button-1,
.toggle-container[data-active="2"] .toggle-button-2,
.toggle-container[data-active="3"] .toggle-button-3 {
  /* background: var(--toggle-bg-on); */
  background-image: linear-gradient(to bottom, #7a99ac, #b8c4cf);
  background-color: rgba(122, 153, 172, 0.49);
  background-blend-mode: darken;
  color: var(--toggle-text-on);
}

.toggle-container .toggle-tab {
  display: none;
}

.toggle-container[data-active="1"] .toggle-tab-1,
.toggle-container[data-active="2"] .toggle-tab-2,
.toggle-container[data-active="3"] .toggle-tab-3 {
  display: block;
}

/* scrollable */
.body .iScrollVerticalScrollbar {
  width: 0.6rem;
  background: #d3d3d3;
  /* top: 2.7rem; */
}

.body .iScrollIndicator {
  width: 100%;
  background: #757575;
  border: none;
  border-radius: 0;
}

.bg-t-r {
  background: rgba(255, 0, 0, 0.5);
}

.bg-t-g {
  background: rgba(0, 255, 0, 0.5);
}

.bg-t-b {
  background: rgba(0, 0, 255, 0.5);
}