/* nav */
#viewport {
    background-image: url("../images/common/background.png");
    background-size: cover;
}

#header .disease-burden::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.3rem;
    background: var(--topnav-on);
}

#subheader button:after {
    content: '';
    height: 7rem;
    width: 1px;
    background: #a09e9c;
    position: absolute;
    top: 0;
    right: 0;
}

#subheader .mortality {
    background: var(--subnav-on);
}

.body {
    font-family: "HelveticaNeue";
}

.body .title {
    font-size: 18px;
    font-weight: bold;
    color: #f2664f;
    line-height: 1.028;
    text-align: left;
    padding-left: 9rem;
    padding-bottom: 0;
}

/* body */

.tabs .tab h2 {
    text-transform: none;
}

.tabs .tab-1 h2:nth-of-type(2) {
    /* position: static; */
    top: 64.6rem;
}

.chart-wrapper {
    width: 640px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: 10px;
    left: 15px;
}

.chart-wrapper img {
    width: 100%;
}

.chart-footnote {
    font-family: "HelveticaNeue";
    font-size: 11px;
    color: #686868;
    margin: 50px 0 0 0;
}

.main-content.container .row.body.start-top {
    padding-top: 80px;
}

.patient-container {
    position: absolute;
    bottom: 20px;
    width: 110px;
    right: 20px;
}

.patient-container img {
    width: 100%;
}

.chart-legend {
    margin: 35px 0 0 90px;
    background-color: #ffffff;
}

.chart-legend p {
    font-size: 14px;
    font-family: "HelveticaNeue-Bold";
    color: #000000;
    line-height: 1.235;
    border-left: solid 20px #f58672;
    border-bottom: solid 5px #f58672;
    padding: 20px;
    margin-bottom: 24px;
}

.chart-note {
    border: 2px solid #f58571;
    position: absolute;
    right: 65px;
    top: 175px;
    padding: 3rem;
}

.chart-note p {
    line-height: 1.2;
    color: #000000;
    font-size: 2.8rem;
    margin: 0;
    padding: 0;
    text-align: center;
}

.chart-note p:first-child {
    font-family: "HelveticaNeue-Bold";
}

.chart-note p:nth-child(2) {
    color: #f2664f;
    font-family: "HelveticaNeue-Heavy";
    font-size: 8rem;
    line-height: 1;
}

.chart-note p:nth-child(3) {
    font-family: "HelveticaNeue-Heavy";
    font-size: 3.5rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
   
}

@media (min-width: 1112px) and (max-width: 1112px) {
    .chart-wrapper {
        width: 730px;
    }
    .patient-container {
        width: 124px;
        right: 30px;
    }
    .chart-note {
        top: 175px;
    }
}

@media (min-width: 1366px) and (max-width: 1366px) {
    .chart-wrapper {
        width: 920px;
    }
    .patient-container {
        width: 170px;
        right: 40px;
    }
    .chart-note {
        top: 196px;
    }
}