body{
	margin: 0;
}
html, body{
	height: 100%;
}
#viewport{
	width: 100%;
	height: 100%;
	/*width: 1024px;*/
	/*height: 768px;*/
	overflow: hidden;
}
#viewport,
.slide{
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.slide {
	position: absolute;
	width: inherit;
	height: inherit;
	z-index: 1;
	-webkit-animation-duration: 500ms;
	-webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.1, 1);
	-webkit-animation-fill-mode: forwards;
	animation-duration: 500ms;
	animation-timing-function: cubic-bezier(0.4, 0, 0.1, 1);
	animation-fill-mode: forwards;
}
.slide iframe{
	width: 100%;
	height: 100%;
	border: none;
	-webkit-user-select: none;
	user-select: none;
}
.slide.current{
	z-index: 2;
}
.slide.right-enter {
	-webkit-animation-name: slide-right-enter ;
	animation-name: slide-right-enter ;
}
.slide.left-enter {
	-webkit-animation-name: slide-left-enter;
	animation-name: slide-left-enter;
}
.slide.prev,
.slide.previous{
	-webkit-animation-name: slide-left-leave;
	animation-name: slide-left-leave;
}
.slide.next{
	-webkit-animation-name: slide-right-leave;
	animation-name: slide-right-leave;
}

@keyframes slide-right-leave {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(100%, 0, 0);
	}
}

@-webkit-keyframes slide-right-leave {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
	}
	100% {
		-webkit-transform: translate3d(100%, 0, 0);
	}
}

@keyframes slide-right-enter {
	0% {
		transform: translate3d(-99.99%, 0, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes slide-right-enter {
	0% {
		-webkit-transform: translate3d(-99.99%, 0, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
	}
}

@keyframes slide-left-leave {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-100%, 0, 0);
	}
}

@-webkit-keyframes slide-left-leave {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
	}
	100% {
		-webkit-transform: translate3d(-100%, 0, 0);
	}
}

@keyframes slide-left-enter {
	0% {
		transform: translate3d(99.99%, 0, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes slide-left-enter {
	0% {
		-webkit-transform: translate3d(99.99%, 0, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
	}
}

/*------------ styles for vertical swipe ------------*/
.vertical .slide.down-enter {
	-webkit-animation-name: slide-down-enter ;
	animation-name: slide-down-enter ;
}
.vertical .slide.up-enter {
	-webkit-animation-name: slide-up-enter;
	animation-name: slide-up-enter;
}
.vertical .slide.prev,
.vertical .slide.previous{
	-webkit-animation-name: slide-up-leave;
	animation-name: slide-up-leave;
}
.vertical .slide.next{
	-webkit-animation-name: slide-down-leave;
	animation-name: slide-down-leave;
}

@keyframes slide-down-leave {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(0, 100%, 0);
	}
}

@-webkit-keyframes slide-down-leave {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 100%, 0);
	}
}

@keyframes slide-down-enter {
	0% {
		transform: translate3d(0, -99.99%, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes slide-down-enter {
	0% {
		-webkit-transform: translate3d(0, -99.99%, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
	}
}

@keyframes slide-up-leave {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(0, -100%, 0);
	}
}

@-webkit-keyframes slide-up-leave {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
	}
	100% {
		-webkit-transform: translate3d(0, -100%, 0);
	}
}

@keyframes slide-up-enter {
	0% {
		transform: translate3d(0, 99.99%, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes slide-up-enter {
	0% {
		-webkit-transform: translate3d(0, 99.99%, 0);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
	}
}

/*--------------------------------------------------*/

#viewport .slide.no-trans,
#viewport .slide.no-transition{
	-webkit-transition: none;
	transition: none;
	-webkit-animation-name: none;
	animation-name: none;
}
.disable iframe,
.disable div,
.disable .slide,
#viewport.disable,
.popup.disable{
	pointer-events: none;
}

/*------------ loader styles ------------*/
.loader-wrapper{
	display: none;
	pointer-events: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.8);
	z-index: 100;
}
.loader-wrapper.active{
	display: block;
	pointer-events: auto;
}