#viewport {
    background-image: url(../images/home/background.png);
    background-size: cover;
}

/* nav */
#header .home {
    background: #f58672;
}

#subheader {
    display: none;
}

.title {
    font-size: 40px;
    font-family: "HelveticaNeue-Heavy";
    color: #000000;
    line-height: 1.063;
    padding-top: 38px;
}

.title span {
    color: #f05660;
}

.option {
    font-size: 14px;
    font-family: "HelveticaNeue";
    color: #000000;
    /* padding-right: 20px; */
    margin-left: -3px;
}

.row-container {
    margin-right: 70px;
    border-bottom: solid 1px #c6c6c6;
    padding: 13px 0;
}

.row-container:last-child {
    border-bottom: none;
}

.row-container a {
    text-decoration: none;
}

img.men {
    width: 95%;
    padding-top: 70px;
    padding-right: 25px;
    padding-left: 5px;
}

img.icon-option {
    width: 60px;
    height: auto;
}

img.arrow {
    width: 50%;
    height: auto;
    margin-left: 6px;
}

img.logo {
    margin-left: 38px;
    width: 78px;
    height: auto;
    position: relative;
    top: 0;
}

.subhead {
    color: #000000;
    font-family: "HelveticaNeue-Bold";
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 0;
}

.copy {
    font-size: 9px;
    font-family: "HelveticaNeue";
    color: rgb(88, 89, 91);
    line-height: 0.97;
    position: relative;
    top: -5px;
    left: -10rem;
}

.h-divider-holder {
    padding-top: 10px;
}

.h-divider-holder .h-divider {
    background-color: #c6c6c6;
    height: 2px;
}

.bottom-xs.bottom {
    /* padding-top: 40px; */
}

.box.push-down {
    position: absolute;
    top: 10rem;
}

.bottom-container {
    position: absolute;
    bottom: -10px;
    width: calc(100% + 10px);
    padding: 20px 0 30px 0;
    background-color: #ffffff;
}

@media (max-width: 1366px) and (min-width: 1366px) {      
  .bottom-container {
      bottom: -20px;
  }

  .title {
      padding-top: 140px;
  }

  img.men {
      padding-top: 112px;
  }
}