/* nav */
#viewport {
    background-image: url("../images/common/background.png");
    background-size: cover;
}

#header .disease-burden::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.3rem;
    background: var(--topnav-on);
}

#subheader button:after {
    content: '';
    height: 7rem;
    width: 1px;
    background: #a09e9c;
    position: absolute;
    top: 0;
    right: 0;
}

#subheader .progression {
    background: var(--subnav-on);
}

.body {
    font-family: "HelveticaNeue";
}

.body .title {
    color: #f2664f;
    font-size: 17px;
    font-family: 'HelveticaNeue-Bold';
    text-transform: none;
    line-height: 1.2;
    text-align: left;
    padding-left: 9rem;
    padding-bottom: 0;
}

.orange {
    color: #f58672;
}

.tabs .tab h2 {
    text-transform: none;
}

.patient-container {
    position: absolute;
    bottom: 20px;
    width: 109px;
    right: 20px;
}

.patient-container img {
    width: 100%;
}

.chart-legend p {
    font-size: 14px;
    font-family: "HelveticaNeue-Bold";
    color: #000000;
    line-height: 1.235;
    border-left: solid 20px #f58672;
    border-bottom: solid 5px #f58672;
    padding: 17px;
    margin-bottom: 24px;
}

.row.flow img.flow {
    z-index: 14;
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: auto;
}

.row.flow img.flow.image-00 {
    opacity: 1;
}

.row.flow.slow img.flow.image-00,
.row.flow.moderate img.flow.image-00,
.row.flow.rapid img.flow.image-00 {
    opacity: 0;
}

.row.flow img.flow.image-01,
.row.flow img.flow.image-02,
.row.flow img.flow.image-03 {
    opacity: 0;
}

.row.flow.slow img.flow.image-01 {
    opacity: 1;
}

.row.flow.moderate img.flow.image-02 {
    opacity: 1;
}

.row.flow.rapid img.flow.image-03 {
    opacity: 1;
}

/*btns*/
.row.flow div.btn {
    z-index: 999;
    width: 118px;
    height: 42px;
    background-color: #f3f2f2;
    font-size: 14px;
    font-family: "Gotham-Bold";
    color: #58595b;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #999a9a;
}

.row.flow div.btn.btn-1 {
    border-radius: 17px 0 0 17px;
    border-right: none;
}

.row.flow.slow div.btn.btn-1 {
    background-color: #d0cdcb;
}

.row.flow.moderate div.btn.btn-2 {
    background-color: #d0cdcb;
}

.row.flow div.btn.btn-3 {
    border-radius: 0 17px 17px 0;
    border-left: none;
}

.row.flow.rapid div.btn.btn-3 {
    background-color: #d0cdcb;
}

.chart-legend {
    margin: 400px 0 0 50px;
    background-color: #ffffff;
    width: calc(100% - 30px);
}

.buttons-container {
    display: flex;
    position: fixed;
    top: 506px;
    left: 40%;
    z-index: 1003;
    transform: translateX(-50%);
}

@media (min-width: 768px) and (max-width: 1024px) {
   
}

@media (min-width: 1112px) and (max-width: 1112px) {
    .row.flow img.flow {
        top: -84px;
        width: 104%;
        left: -6px;
    }
    .chart-legend {
        margin: 460px 0 0 50px;
    }

    .buttons-container {
        top: 560px;
    }
    .patient-container {
        width: 130px;
        right: 30px;
    }
}

@media (min-width: 1366px) and (max-width: 1366px) {
    .row.flow img.flow {
        top: -120px;
        width: 104%;
        left: -14px;
    }
    
    .chart-legend {
        margin: 550px 0 0 50px;
    }

    .buttons-container {
        top: 640px;
    }
    .patient-container {
        width: 170px;
        right: 40px;
    }
}