/* subheader */
#subheader {
  position: absolute;
  top: 9rem;
  left: 0;
  right: 0;
  height: 7rem;
  overflow: hidden;
  z-index: 15;
}

#subheader .button-container {
  /* width: 167.7rem; */
  width: 162.7rem;
  height: 7rem;
  background: #e6e3e0;
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding-left: var(--nav-padding-left);
}

#subheader .button-container::after {
  content: '';
  position: absolute;
  left: 100%;
  background: #e6e3e0;
  width: 8.1rem;
  height: 100%;
  transform: skew(-45deg);
  transform-origin: 0 0;
}

#subheader .button-container button {
  font-family: "HelveticaNeue-Bold";
  font-size: 14px;
  font-weight: 500;
  color: #58595b;
  position: relative;
}

#subheader .button-container a {
  color: #58595b;
  text-decoration: none;
  display: flex;
}

/* Manifestation */
#subheader .pulmonary {
  width: 170px;
}

#subheader .risk {
  width: 170px;
}

/* Fibrogenisis */

#subheader .acute-exacerbations {
  width: 160px;
}

#subheader .progression {
  width: 140px;
}

#subheader .lung-function {
  width: 140px;
}

#subheader .mortality {
  width: 140px;
}

#subheader .daily-impact {
  width: 140px;
}

/* Monitoring */
#subheader .identification {
  width: 30.6rem;
}

#subheader .hrct {
  width: 30.6rem;
}